<table class="table table-condensed">
<thead>
<tr>
<th>Topic</th>
<th>Date</th>
</tr>
</thead>
<tbody>
<tr>
<td>Session 0 (Setup)</td>
<td>Mon July 6</td>
</tr>
<tr>
<td>Shell 1</td>
<td>Tue July 7</td>
</tr>
<tr>
<td>Shell 2</td>
<td>Wed July 8</td>
</tr>
<tr>
<td>Shell 3</td>
<td>Thu July 9</td>
</tr>
<tr>
<td></td>
<td>Fri July 10</td>
</tr>
<tr>
<td>Session 0 (Setup)</td>
<td>Sat July 11</td>
</tr>
<tr>
<td></td>
<td>Sun July 12</td>
</tr>
<tr>
<td>Python 1</td>
<td>Mon July 13</td>
</tr>
<tr>
<td>Python 2</td>
<td>Tue July 14</td>
</tr>
<tr>
<td>Python 3</td>
<td>Wed July 15</td>
</tr>
<tr>
<td>Python 4</td>
<td>Thu July 16</td>
</tr>
<tr>
<td></td>
<td>Fri July 17</td>
</tr>
<tr>
<td></td>
<td>Sat July 18</td>
</tr>
<tr>
<td></td>
<td>Sun July 19</td>
</tr>
<tr>
<td>Session 0 (Setup)</td>
<td>Mon July 20</td>
</tr>
<tr>
<td>SQL 1</td>
<td>Tue July 21</td>
</tr>
<tr>
<td>SQL 2</td>
<td>Wed July 22</td>
</tr>
<tr>
<td>SQL 3</td>
<td>Thu July 23</td>
</tr>
<tr>
<td></td>
<td>Fri July 24</td>
</tr>
<tr>
<td></td>
<td>Sat July 25</td>
</tr>
<tr>
<td></td>
<td>Sun July 26</td>
</tr>
<tr>
<td></td>
<td>Mon July 27</td>
</tr>
<tr>
<td>GitHub 1</td>
<td>Tue July 28</td>
</tr>
<tr>
<td>GitHub 2</td>
<td>Wed July 29</td>
</tr>
<tr>
<td>Website Creation</td>
<td>Thu July 30</td>
</tr>
</tbody>
</table>
